* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#aboutme,
#skills,
#experiences,
#projects,
#contact {
    scroll-margin-top: 10vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-image: url('background_cpp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    color: azure;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #242038;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0.8;
    z-index: 1000;
}

header #name a{
    text-decoration: none;
    color: azure;
}

header nav {
    margin-left: auto;
}

header nav a{
    text-decoration: none;
    color: azure;
    border-left: 2px solid azure;
    border-right: 2px solid azure;
    margin: -3px;
    padding-left: 20px;
    padding-right: 20px;
}

header nav a:hover{
    background-color: azure;
    color: #333;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
}

main a {
    text-decoration: none;
}

main div {
    margin: 2px;
    border: 2px;
    border-radius: 10px;
    opacity: 0.95;
}

main .titre{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    text-transform: uppercase;
    font-size: xx-large;
}

main .about {
    background-color: #087E8B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10%;
    height: 50vh;
}

main .about #me img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

main .about #about {
    width: 40%;
}

main .about #about h2 {
    margin-bottom: 10px;
}

main .about #about p {
    margin-bottom: 10px;
}

main .skills {
    background-color: #05555E;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0%;
    padding: 40px;
}

main .skills #myskills {
    width: 30%;
    margin-left: 20%;
}

main .skills #list_skills {
    width: 40%;
    padding-left: 70px;
    margin-right: 20%;
}

main .skills #list_skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #0c8;
}

main .skills #list_skills ul li {
    flex: 1 1 calc(33.33% - 10px);
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

main .experiences {
    background-color: #087E8B;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding: 15px;
}

main .experiences div {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

main .experiences div table {
    border: 2px solid #9C2922;
    border-collapse: collapse;
}

main .experiences div .table1 th, .table2 th, .table3 th {
    background-color: #92140C;
    height: 25px;
    border: 2px solid black;
}

main .experiences div .table1 td, .table2 td, .table3 td {
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid black;
}

main .projects {
    background-color: #05555E;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main .projects .my_projects{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main .projects .project {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 300px;
    margin: 20px;
}

.project .image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

main .projects .project img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    transition: transform 0.3s ease;
}


/* Overlay blanc */
.project .overlay {
    position: absolute;
    bottom: -100%;
    left: -4px;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #000;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: bottom 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.95;
}

.project:hover .overlay {
    bottom: 0;
}

.project:hover img {
    transform: scale(1.05);
    filter: brightness(80%);
}

main .contact {
    background-color: #087E8B;
}

footer{
    background-color: #242038;
    color: azure;
    position: relative;
    padding: 15px;
}